<%= simple_form_for @job do |f| %>

<%= f.input :title  %>
<%= f.input :wage_lower_bound %>
<%= f.input :wage_upper_bound %>
<%= f.input :job_experience %>

<div class="form-group">
  <%= f.association :education %>
</div>
<%= f.input :skill %>
<%= f.input :company %>
<%= f.input :financing_stage %>
<%= f.input :industry %>
<p><%= f.input :source %></p>
<%= f.association :city %>
<%= f.input :contact_email %>

<%= f.label :scale %>：
<div class="btn-group">
  <% Job::SCALE.each do |scale| %>
  <label class="btn btn-default">
    <%= f.radio_button :scale, scale %>
    <%= scale %>
  </label>
  <% end %>
</div>
<br>
<br>
<%= f.label :status %>
<div class="btn-group">
  <% Job::STATUS.each do |status| %>
  <label class="btn btn-default">
    <%= f.radio_button :status, status %>
    <%= t(status, :scope => "job.status") %>
  </label>
  <% end %>
</div>

<hr>
<%= f.input :description, as: :ckeditor %>
<%= f.input :is_hidden %>

<%= f.submit "Submit" %>
<% end %>


<script>
  $("#job_city_id").select2( { theme: "bootstrap"} );
</script>
