

<div class="col-md-12 job-box">
  <div class="pull-right">
  <%= link_to("Edit", edit_job_path(job), :class => "btn btn-xs btn-info") %>
  <br>
  <%= link_to("Destroy", job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
</div>
  <div class="col-md-6">
    <h3><%= link_to(job.title, job_path(job)) %> <span style="color:green"> <%= job.wage_lower_bound %> - <%= job.wage_upper_bound %></span></h3>
    <p><%= job.place %> | <%= job.job_experience %> | <%= job.education_background %></p>
    <p class="label label-default"><%= job.skill %></p>
    <p style="color:grey">发布于<%= job.contact_email %></p>
  </div>
  <div class="col-md-4 pull-right">
    <h3><a href="<%= job.source %>"><%= job.company %></a></h3>
    <p><%= job.industry %> | <%= job.financing_stage %> | <%= job.scale %></p>
    <p><%= job.job_category %></p>
  </div>

</div>
