<div class="container">
  <div class="row">
    <div class="page-header">
      <h1><%= t("position") %><small>Position</small></h1>
    </div>
    <div class="col-md-3">
      <h3>招聘渠道<h3>
      <div class="btn-group-vertical btn-group-lg " role="group" aria-label="...">
        <button type="button" class="btn btn-warning"><a href="http://rubyconfchina.org/">研讨会</a></button>
         <button type="button" class="btn btn-success"><a href="https://www.zhipin.com/">BOSS直聘</a></button>
         <button type="button" class="btn btn-danger"><a href="http://www.lagou.com ">拉勾</a></button>
         <button type="button" class="btn btn-info"><a href="http://ruby-china.org ">RubyChina</a></button>
       </div>
    </div>
    <div class="col-md-9">
      <div class="pull-right">
        <%= link_to("添加新工作", new_job_path, :class => "btn btn-default" ) %>
      </div>
    <div class="dropdown clearfix pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
          <%= link_to("按照发布时间排序", jobs_path(:order => "by_release") ) %>
        </li>
        <li>
          <%= link_to("按照自由排序", jobs_path(:order => "by_admin")) %>
        </li>
    </ul>
</div>

<%= render :partial => "job", :collection => @jobs, :as => :job %>
</div>
</div>
</div>
