<div class="container">
<h1>我的个人资料</h1>

<p>Email: <%= @user.email %></p>
<p>Legal_name: <%= @user.profile.legal_name %></p>
<p>Username: <%= @user.profile.username %></p>
<p>Wechat: <%= @user.profile.wechat %></p>
<p>Birthday: <%= @user.profile.birthday %></p>
<p>Location: <%= @user.profile.location %></p>
<p>Tmiezone: <%= @user.time_zone  %></p>
<p>Motto: <%= @user.profile.motto %></p>
</div>
