<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title">
                    创建时间：<%= resume.created_at %>
                </h3>
            </div>

        </div>
    </div>
    <div class="panel-body">
        <div class="trix-content">
          <h4>一句话</h4>
          <hr>
          <%= resume.one_word   %>
          <h4>关于我　</h4>
          <hr>
          <%= resume.content  %>
          <h4>我做过什么</h4>
          <hr>
          <%= resume.experience  %>
          <h4>为何应聘</h4>
          <hr>
          <%= resume.why %>
          <h4>为何选我</h4>
          <hr>
          <%= resume.prove %>
          <h4>项目展示</h4>
          <hr>
          <% if resume.attachment.present? %>
            <i class="fa fa-paperclip"> </i>
            <%= link_to("Download Resume", resume.attachment_url) %>
          <% else %>
             No Attachment
          <% end %>
          <h4>联系方式</h4>
          <hr>
          <%= resume.action  %>


        </div>

        <hr>
        <%= link_to("编辑", edit_resume_path(resume)) %> |
        <%= link_to("删除", resume_path(resume), :method => :delete, :data => { :confirm => "Are you sure?" }) %>

    </div>

</div>
